@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Abel);
/* Base
------------------------------------------------------------*/
html {
  font-size: 62.5%; }

body {
  color: #4c4c4c;
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: #fdfcf6; }

a {
  color: #ddd23b;
  text-decoration: none; }
  a:visited {
    color: #c3b822; }
  a:hover {
    color: #c3b822; }
  a:active {
    color: #e1d751; }

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center; }

/* Layout
------------------------------------------------------------*/
.block-center, section .container, #favorites i {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Font
------------------------------------------------------------*/
.abel, section h2, #favorites h3, #photo .photo-box a .photo-box-inner .button-detail {
  font-family: 'Abel', serif; }

.uppercase, section h2, #favorites h3, #photo .photo-box a .photo-box-inner .button-detail {
  text-transform: uppercase; }

@media (min-width: 769px) {
  /* Base
  ------------------------------------------------------------*/
  a:hover {
    text-decoration: underline; } }
/* Header
------------------------------------------------------------*/
.box {
  background-image: url("../images/img_odaiba.jpg");
  height: 250px;
  width: 100%;
  background-size: cover; }

@media (min-width: 769px) {
  .box {
    height: 500px; } }
/* Contents
------------------------------------------------------------*/
section {
  padding: 60px 0; }
  section .container {
    width: 90%; }
  section h2 {
    font-size: 3.2rem; }

#favorites {
  background-color: #08192d; }
  #favorites .container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-direction: column;
    flex-direction: column; }
  #favorites h2 {
    color: #fdfcf6;
    margin-bottom: 60px;
    font-size: 22px; }
    @media (min-width: 769px) {
      #favorites h2 {
        font-size: 30px; } }
  #favorites .favorite-box {
    -webkit-flex: 1;
    flex: 1;
    margin: 10px 0;
    padding: 20px;
    background-color: #fdfcf6;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #favorites i {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    padding-top: 15px;
    background-color: #ddd23b;
    font-size: 4.5rem;
    color: #FFF;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  #favorites h3 {
    color: #ddd23b;
    margin-bottom: 10px;
    font-size: 2.4rem;
    font-weight: bold; }

@media (min-width: 769px) {
  #favorites .container {
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between; }
  #favorites .favorite-box {
    margin: 0 10px; } }
#photo {
  padding-bottom: 0; }
  #photo h2 {
    margin-bottom: 50px; }
  #photo .photo-box {
    width: 100%;
    float: left;
    height: 100%; }
    #photo .photo-box a {
      display: block;
      position: relative; }
      #photo .photo-box a .photo-box-inner {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        color: #FFF; }
        #photo .photo-box a .photo-box-inner div {
          position: absolute;
          margin: auto;
          height: 40%;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 10px 20px; }
        #photo .photo-box a .photo-box-inner .button-detail {
          margin: auto;
          margin-bottom: 50px;
          text-align: center;
          padding: 5px 0;
          width: 180px;
          display: block;
          color: #FFF;
          font-weight: bold;
          background-color: #ddd23b;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          font-size: 1rem; }

/*# sourceMappingURL=style.css.map */
