@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #fdfcf6;
$subColor: #08192d;
$keyColor: #ddd23b;
$fontColor: #4c4c4c;


/* Base
------------------------------------------------------------*/
html{ font-size: 62.5%; }

body{
  color: $fontColor;
  font-size: 1.4rem;
  font-family:$baseFontFamily;
  line-height:1.6;
  letter-spacing: 0.1em; 
  background-color: $baseColor;
}

a {
  @include link-colors($keyColor, darken($keyColor, 10%), lighten($keyColor, 5%), darken($keyColor, 10%));
  text-decoration: none;
}

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center;
}

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Font
------------------------------------------------------------*/
.abel {
  font-family: 'Abel', serif;
}
.uppercase {
  text-transform: uppercase;
}

// desktop
@media (min-width: 769px) {

  /* Base
  ------------------------------------------------------------*/
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}


/* Header
------------------------------------------------------------*/
.box{
  background-image:url("../images/img_odaiba.jpg"); // 画像のファイルパスを記述
  height: 250px; //モバイル用の表示
  width: 100%;
  background-size: cover;
}

@media (min-width: 769px) { // PC用の表示
 .box{
   height: 500px;
 }
}


/* Contents
------------------------------------------------------------*/
// Common Styles
section {
  padding: 60px 0;
  .container {
    width: 90%;
    @extend .block-center;
  }
  h2 {
    @extend .abel;
    font-size: 3.2rem;
    @extend .uppercase;
  }
}

// Favorites
#favorites {
  background-color: $subColor;
  .container {
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);    // スキルボックスを縦に並べる
  }
  h2 {
    color: $baseColor;
    margin-bottom: 60px;
    font-size: 22px;
    @media (min-width: 769px) { // PC用の表示
    font-size: 30px;
    }
  }
  .favorite-box {
    @include flex(1);
    margin: 10px 0;                     // 上下にマージン
    padding: 20px;
    background-color: $baseColor;
    @include border-radius(4px);
    @include box-sizing(border-box);
  }
  i {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    padding-top: 15px;
    background-color: $keyColor;
    font-size: 4.5rem;
    color: #FFF;
    text-align: center;
    @include box-sizing(border-box);
    @include border-radius(50%);
    @extend .block-center;
  }
  h3 {
    @extend .abel;
    @extend .uppercase;
    color: $keyColor;
    margin-bottom:10px;
    font-size: 2.4rem;
    font-weight: bold;
  }
}

// desktop
@media (min-width: 769px) {

  // Favorites
  #favorites {
    .container {
      @include flex-direction(row);     // スキルボックスを横に並べる
      justify-content: space-between;
    }
    .favorite-box {
      margin: 0 10px;                   // 左右にマージン
    }
  }
}


// Photo
#photo {
  padding-bottom: 0;
  h2 {
    margin-bottom: 50px;
  }
  .photo-box {
    width: 100%;                  // widthを100%にして1列に1つ表示（つまり縦に並ぶ）
    float: left;
    height: 100%;
    a {
      display: block;
      position: relative;
      .photo-box-inner {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        color: #FFF;
        div {
          position: absolute;
          margin: auto;
          height: 40%;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 10px 20px;
        }
        .button-detail {
          margin: auto;
          margin-bottom: 50px;
          text-align: center;
          padding: 5px 0;
          width: 180px;
          display: block;
          color: #FFF;
          font-weight: bold;
          background-color: $keyColor;
          @extend .abel;
          @extend .uppercase;
          @include border-radius(4px);
          font-size: 1rem;
        }
      }
    }
  }
}

